body {background-color: #010101; color: #F0F0F0; }
h1, #table-of-contents, .outline-1, .outline-2, .outline-3{ background-color: #101010; color: #EEEE99; }
ul, .verse, h2 { background-color: #191919; }
h3 { background-color: #EEEEEE; color: #101010; }
a:link, a:visited { color: #EEEEEE; }
